<header>
	<script type="application/json" class="js-hypothesis-config">
		{
			"showHighlights": false,
			"openSidebar": false,
			"theme": "clean"
		}
	</script>

	<link
		rel="stylesheet"
		type="text/css"
		href="//fonts.googleapis.com/css?family=EB+Garamond"
	/>

	<script>
		window.hypothesisConfig = function () {
			return {
				branding: {
					appBackgroundColor: 'white',
					ctaBackgroundColor: 'rgba(3, 11, 16, 1)',
					ctaTextColor: '#eee',
					selectionFontFamily: 'EB Garamond, sans-serif',
				},
			};
		};
	</script>
	<script async src="https://hypothes.is/embed.js"></script>

	<nav class="site-navigation" role="navigation">
		{{ $current := . }}
		<ul>
			{{ range .Site.Menus.main }}
			<li>
				{{ $active := or ($current.IsMenuCurrent "main" .)
				($current.HasMenuCurrent "main" .) }} {{ $active = or $active (eq .Name
				$current.Title) }} {{ $active = or $active (and (eq .Name "Index") (eq
				$current.Section "posts")) }} {{ $active = or $active (and (eq .Name
				"Projects") (eq $current.Section "projects")) }}
				<a href="{{ .URL }}" {{ if $active }}aria-current="page" {{ end }}
					>{{ .Name }}</a
				>
			</li>
			{{ end }}
		</ul>
	</nav>
</header>
