<table>
	<tr>
		<th>Collective actor</th>
		<th>Intent of framing efforts</th>
		<th>Content of frames</th>
		<th>Emotion sought to be evoked and its object</th>
	</tr>
	<tr>
		<td rowspan="4">
			<strong>Social movement (disruptive collective actor)</strong>
		</td>
		<td>
			Strengthening the client’s trust in the social movement’s experiential
			knowledge
		</td>
		<td>Experiential knowledge is relevant, safe, and/or reliable</td>
		<td>
			Pride in supporting an alternative, peer-driven institutional project
		</td>
	</tr>
	<tr>
		<td>
			Gaining the client’s attachment to the social movement as a collective
			actor
		</td>
		<td>
			Deviance from the profession’s prescriptions is a righteous imperative
		</td>
		<td>Anger at the profession for breaching its duty</td>
	</tr>
	<tr>
		<td>
			Causing the client’s detachment from the profession as a collective actor
		</td>
		<td>
			Compliance with the profession’s prescriptions is morally flawed and/or
			self-degrading
		</td>
		<td>Shame of complying with the profession’s prescriptions</td>
	</tr>
	<tr>
		<td>Undermining the client’s trust in the profession’s expert knowledge</td>
		<td>Expert knowledge is irrelevant, dangerous, and/or unreliable</td>
		<td>Fear of relying on established arrangements</td>
	</tr>
	<tr>
		<td rowspan="4">
			<strong>Profession (defensive collective actor)</strong>
		</td>
		<td>
			Strengthening the client’s trust in the profession’s expert knowledge
		</td>
		<td>Expert knowledge is relevant, safe, and/or reliable</td>
		<td>Pride in supporting established arrangements</td>
	</tr>
	<tr>
		<td>
			Gaining the client’s attachment to the profession as a collective actor
		</td>
		<td>
			Compliance with the profession’s prescriptions is a righteous imperative
		</td>
		<td>
			Anger at the movement for jeopardizing a proper response to their needs
		</td>
	</tr>
	<tr>
		<td>
			Causing the client’s detachment from the social movement as a collective
			actor
		</td>
		<td>
			Deviance from the profession’s prescriptions is morally flawed and/or
			self-degrading
		</td>
		<td>Shame of deviating from the profession’s prescriptions</td>
	</tr>
	<tr>
		<td>
			Undermining the client’s trust in the social movement’s experiential
			knowledge
		</td>
		<td>Experiential knowledge is irrelevant, dangerous, and/or unreliable</td>
		<td>
			Fear of relying on an alternative, peer-driven institutional project
		</td>
	</tr>
</table>
