<table>
	<tr>
		<th>Framing efforts that evoke emotions successfully</th>
		<th>Emotional resonance</th>
		<th>Mode of participation in jurisdictional contestation</th>
	</tr>
	<tr>
		<td>Only the social movement’s framing efforts are successful</td>
		<td>
			Pride in supporting alternative project (greater degree), anger at
			profession, shame of complying with profession’s prescriptions, and fear
			of relying on established arrangements (lesser degrees)
		</td>
		<td>
			<strong>Escape:</strong> Seeking to withdraw from established arrangements
			for a peer-driven alternative
		</td>
	</tr>
	<tr>
		<td>
			Both framing efforts are successful to some degree, but the social
			movement’s framing efforts dominate (some ambivalence)
		</td>
		<td>
			Anger at profession (greater degree), shame of complying with profession’s
			prescriptions and pride in supporting alternative project yet fear of
			relying on it (lesser degrees)
		</td>
		<td>
			<strong>Opposition:</strong> Seeking to radically transform established
			arrangements
		</td>
	</tr>
	<tr>
		<td>
			Both framing efforts are successful to a comparable degree (full-fledged
			ambivalence)
		</td>
		<td>
			Pride in supporting alternative project but shame of deviating from
			profession’s prescriptions (greater degrees) and anger at profession yet
			fear of relying on alternative project (lesser degrees) or anger at
			profession but fear of relying on alternative project (greater degrees)
			and pride in supporting alternative project yet shame of deviating from
			profession’s prescriptions (lesser degrees)
		</td>
		<td>
			<strong>Accommodation:</strong> Seeking to incrementally improve
			established arrangements
		</td>
	</tr>
	<tr>
		<td>
			Both framing efforts are successful, but the profession’s framing efforts
			dominate (some ambivalence)
		</td>
		<td>
			Shame of deviating from profession’s prescriptions (greater degree), anger
			at social movement and fear of supporting alternative project yet pride in
			supporting it (lesser degrees)
		</td>
		<td>
			<strong>Acquiescence:</strong> Seeking to passively accept established
			arrangements
		</td>
	</tr>
	<tr>
		<td>Only the profession’s framing efforts are successful</td>
		<td>
			Fear of relying on alternative project (greater degree), shame of
			deviating from profession’s prescriptions, anger at social movement, and
			pride in supporting established arrangements (lesser degrees)
		</td>
		<td>
			<strong>Stewardship:</strong> Seeking to actively reinforce established
			arrangements
		</td>
	</tr>
</table>
