<!DOCTYPE html>
<html lang="fr">
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
		<header class="site-masthead">
			<img
				src="{{ .Site.Params.logo }}"
				style="width: 80px; margin-bottom: 0px"
			/>
			<h1 class="gothic">{{ .Site.Params.titre }}</h1>
			<h2>
				<span style="white-space: pre">{{ .Site.Params.auteur1 }}, </span>
				<span style="white-space: pre">{{ .Site.Params.auteur2 }},</span>
				<span style="white-space: pre">{{ .Site.Params.auteur3 }}.</span>
				<br />

				In press at
				<a href="https://doi.org/10.5465/amr.2020.0511"
					>Academy&nbsp;of&nbsp;Management&nbsp;Review</a
				>
			</h2>

			<div class="buttonContainer">
				<a
					class="buttonHome"
					href="https://www.zotero.org/groups/5170214/emotionsandclientparticipation"
					>Bib Database</a
				>

				<a
					class="buttonHome"
					href="https://www.researchgate.net/publication/366393969_Emotions_and_client_participation_in_jurisdictional_contestation"
					>PDF</a
				>
				<button class="buttonHome" id="copyDOI">Copy DOI</button>
			</div>

			<section class="onboardingContainer">
				<div class="onboarding">
					<img src="{{ .Site.Params.poissonsRouges }}" />
					<h3>
						Welcome ! Interact with the author and enhance the collective
						reading of this paper.
					</h3>
					<ol>
						<li>
							Highlight this text, click on "Annotate" &rarr;
							<em>a panel will open on the right side of the browser.</em>
						</li>
						<li>Sign up / Log in at the top right of the panel.</li>
					</ol>
					<a
						href="https://web.hypothes.is/help/annotation-basics/"
						target="_blank"
						>If needed, visit Hypothesis for annotation-basics tutorial.</a
					>
				</div>
			</section>
		</header>

		<main class="home" id="main" role="main" aria-label="Content">
			<h1 class="content-title divided">Abstract</h1>
			<p>
				Professional jurisdictions are increasingly contested by social
				movements. We develop a model of how emotions shape the participation of
				professions’ clients in episodes of jurisdictional contestation. Our
				model begins with a framing contest between a social movement that
				disrupts a profession’s jurisdictional control and the profession that
				defends it. We theorize how, through adversarial framing efforts, the
				movement and profession each seek to evoke emotions in particular ways
				to shape the actions of clients in their favor. We then explore how the
				emotional resonance of this framing contest leads individual clients to
				support, to varying degrees, one or both contestants. We argue that
				clients experiencing different configurations of pride, anger, shame,
				and fear—or ambivalence when these emotions overlap in conflicting
				ways—enact one of five modes of participation. With this article, we
				contribute to the literature on professions by conceptualizing client
				participation in jurisdictional contestation across analytical levels;
				considering the role of a constellation of intertwined social emotions
				in this process; and introducing a typology of five modes of client
				participation in jurisdictional contestation. We develop our model by
				drawing on empirical examples from health-related professions, but we
				also discuss its generalizability to other work domains and
				stakeholders.
			</p>

			<h1 class="content-title divided">Acknowledgement</h1>

			<p>
				We are grateful to editor Patrick Haack and our anonymous reviewers for
				their insightful comments throughout the review process. We also thank
				Janette Mujica, Ann Langley, Doug Creed, Cynthia Hardy, Saouré Kouamé,
				Taïeb Hafsi, Vincent Dumez, and the attendees of the HEC Montréal
				Management Department Lunchbox Series for valuable feedback on earlier
				versions of the paper.
			</p>

			<h1 class="content-title divided">Table of contents</h1>
			<ul class="post-list">
				{{ range (.Paginate ( where .Site.RegularPages "Section" "posts"
				).ByWeight).Pages }} {{ if ne .Kind "section" }}
				<li>
					<a
						href="{{ .Permalink }}"
						title="{{ .Params.Chapter }}"
						class="post-link"
					>
						<div class="post-link__heading">
							<h1
								class="post-link__title"
								style="{{ if .Params.subtitle }} padding-left: 2em; {{ else }} font-weight: bold; {{ end }}"
							>
								{{ .Title }}
							</h1>
						</div>
						<span class="post-date">{{ .Params.Chapter }}</span>
					</a>
				</li>
				{{ end }} {{ end }}
			</ul>
		</main>
		{{ partial "header.html" . }} {{ partial "footer.html" . }}

		<script>
			const copyButton = document.getElementById('copyDOI');
			const doiText = '10.5465/amr.2020.0511'; // The DOI you want to copy

			copyButton.addEventListener('click', () => {
				// Create a text area element to hold the text
				const textArea = document.createElement('textarea');
				textArea.value = doiText;
				document.body.appendChild(textArea);

				// Select and copy the text
				textArea.select();
				document.execCommand('copy');

				// Clean up
				document.body.removeChild(textArea);

				// Optionally, provide feedback to the user
				alert('DOI copied to clipboard: ' + doiText);
			});
		</script>
	</body>
</html>
