<!DOCTYPE html>
<html lang="fr">
	{{ partial "head.html" . }}
	<body>
		<header class="site-masthead">
			<img
				src="{{ .Site.Params.logo }}"
				style="width: 100px; margin-bottom: 0px"
			/>
			<h1 class="gothic">{{ .Site.Params.titre }}</h1>
			<h2>
				<span style="white-space: pre">{{ .Site.Params.auteur1 }}, </span>
				<span style="white-space: pre">{{ .Site.Params.auteur2 }},</span>
				<span style="white-space: pre">{{ .Site.Params.auteur3 }}.</span>
				<br />

				In press at
				<a href="https://doi.org/10.5465/amr.2020.0511"
					>Academy&nbsp;of&nbsp;Management&nbsp;Review</a
				>
			</h2>

			<div class="onboarding">
				<img src="{{ .Site.Params.poissonsRouges }}" />
				<h3>
					Welcome ! Interact with the author and enhance the collective reading
					of this paper.
				</h3>
				<ol>
					<li>
						Highlight this text, click on "Annotate," and a panel at the right
						side of the browser will open.
					</li>
					<li>Sign up / Log in at the top right of the panel.</li>
				</ol>
				<a
					href="https://web.hypothes.is/help/annotation-basics/"
					target="_blank"
					>If needed, visit Hypothesis for annotation-basics turorial.</a
				>
			</div>
		</header>
		<main class="home" id="main" role="main" aria-label="Content">
			<h1 class="content-title divided">Table of contents</h1>
			<ul class="post-list">
				{{ range (.Paginate ( where .Site.RegularPages "Section" "posts"
				).ByWeight).Pages }} {{ if ne .Kind "section" }}
				<li>
					<a
						href="{{ .Permalink }}"
						title="{{ .Params.Chapter }}"
						class="post-link"
					>
						<div class="post-link__heading">
							<h1
								class="post-link__title"
								style="{{ if .Params.subtitle }} padding-left: 2em; {{ else }} font-weight: bold; {{ end }}"
							>
								{{ .Title }}
							</h1>
						</div>
						<span class="post-date">{{ .Params.Chapter }}</span>
					</a>
				</li>
				{{ end }} {{ end }}
			</ul>
		</main>
		{{ partial "header.html" . }} {{ partial "footer.html" . }}
	</body>
</html>
