<!DOCTYPE html>
<html lang="fr">
	{{ partial "head.html" . }}
	<body>
		<main>
			{{ partial "header.html" . }}
      <div class="h-sidebar" role="note">
				<!-- Content for the Hypothesis sidebar goes here -->
			<article
				class="post h-entry"
				itemscope
				itemtype="http://schema.org/BlogPosting"
				id="main"
				role="article"
				aria-label="Content"
			>
				{{ if eq .Type "posts" }}

        {{ if .Params.subtitle }}
        <h2 class="post-subtitle p-name" itemprop="name headline">
          {{ .Params.Chapter }}  {{ .Title }}
        </h2>
      {{ else }}
        <h1 class="post-title divided p-name" itemprop="name headline">
          {{ .Params.Chapter }} - {{ .Title }}
        </h1>
      {{ end }}

				{{ partial "buttons.html" . }}
				{{ end }} {{ if eq .Type "pages" }}
				<h1 class="post-title divided p-name" itemprop="name headline">
					{{ .Title }}
				</h1>
				{{ end }}

				<div class="post-content e-content" itemprop="articleBody">

          <p>To explore further visualizations, visit <a href="https://voyant-tools.org/?corpus=be6d96510c3f79c8dd8e392a8f412216&palette=f6667852d49745438406a9330d2b5dce&panels=cirrus,reader,trends,summary,contexts&lang=en">Voyant Tools.</a></p>

          {{ if .Params.summary }}
          <div class="iframe-container">
            {{ .Params.summary | safeHTML }}
          </div>
          {{ end }}
				</div>
          
          {{ if .Params.cloud }}
          <div class="iframe-container">
            {{ .Params.cloud | safeHTML }}
          </div>
          {{ end }}

          {{ if .Params.context }}
          <div class="iframe-container">
            {{ .Params.context | safeHTML }}
          </div>
          {{ end }}

          
        <p>To explore further visualizations, visit <a href="https://voyant-tools.org/?corpus=be6d96510c3f79c8dd8e392a8f412216&palette=f6667852d49745438406a9330d2b5dce&panels=cirrus,reader,trends,summary,contexts&lang=en">Voyant Tools.</a></p>

          {{ partial "buttons.html" . }}
				</div>

			</article>
			{{ partial "footer.html" . }}
		</main>

	</body>
</html>




